<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bibloteka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="albikCon" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Bibloteka;User ID=sa;Password=Albinhalitaj1@" providerName="System.Data.SqlClient" />
    <add name="endritCon" connectionString="Data Source=.;Initial Catalog=Bibloteka;User ID=EndritHyseni;Password=2021" providerName="System.Data.SqlClient" />
    <add name="fatlindCon" connectionString="Data Source=.;Initial Catalog=Bibloteka;User ID=Fatlind;Password=20000912" providerName="System.Data.SqlClient" />
    <add name="Bibloteka.Properties.Settings.BiblotekaConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Bibloteka;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="email" value="stafbibloteka@gmail.com" />
    <add key="password" value="biblotekaweb1" />
    <add key="from" value="Stafi i Bibliotekës - eBiblioteka" />
    <add key="language" value="en-US" />
  </appSettings>	
  <userSettings>
    <Bibloteka.Properties.Settings>
      <setting name="userName" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
    </Bibloteka.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>